<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<form action="/search">
    	<input type="submit" value="Search Page">
	</form>
	<br>
	<form action="/card">
    	<input type="submit" value="Card Page">
	</form>
</body>

	{{> footer}}
</html>