<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

	{{> header}}

<body>
	<br>
	<p>{{getImage}}</p>
    <form action="/">
    	<input type="submit" value="Back">
	</form>
</body>

	{{> footer}}
</html>